# --- APP CONFIGURATION ---
DOMAIN_NAME=localhost
NEXTAUTH_URL=http://localhost:3000
WEBAPP_URL=http://localhost:3000
NEXTAUTH_SECRET=yoursecret
ENCRYPTION_KEY=yourencryptionkey

# --- DATABASE CONFIGURATION ---
POSTGRES_USER=form_admin
POSTGRES_PASSWORD=password
POSTGRES_DB=formbricks
DATABASE_URL=postgresql://form_admin:password@postgres:5432/formbricks

# --- REDIS CONFIGURATION ---
REDIS_URL=redis://redis:6379

# --- SECURITY CONFIGURATION ---
MODSEC_MODE=DetectionOnly

# --- AWS CONFIGURATION (BACKUPS/S3) ---
AWS_ACCESS_KEY_ID=yourkey
AWS_SECRET_ACCESS_KEY=yoursecret
AWS_DEFAULT_REGION=eu-west-3
S3_BUCKET_NAME=yourbucket

# --- MONITORING CONFIGURATION ---
GRAFANA_ADMIN_PASSWORD=admin
